<h2>Grupo</h2>

<fieldset>
  <legend>Novo Grupo</legend>
  <div>
    <label>Nome:</label>
    <input type="text" [(ngModel)]="newGrupo.name" />
    <span *ngIf="showMessageErrorName" class="error">* Campo obrigatório</span>
  </div>

  <input type="button" value="Salvar" (click)="saveGrupo()">
</fieldset>

<ul>
  <li *ngFor="let grupo of grupos">
    <span>Grupo {{ grupo.name }}</span>
    <input type="button" value="Editar" (click)="editGrupo(grupo)" />
    <input type="button" value="Excluir" (click)="deleteGrupo(grupo)" />
  </li>
</ul>
